.site-nav {
    z-index: 3;
    position: fixed;
    width: 100%;
    transition: background 0.5s ease-in-out;
    background-color: rgba(9,9,9,0);

    &.attached {
        background: rgba(9,9,9,0.5);
    }

    .navbar-inverse {
        background: transparent;
    }

    .header {
        padding-top: 0;

        img {
            max-width: 280px;
            color: white;
        }
    }
}

.navbar-inverse {

    border: none;

    ul {
        padding: 18px 80px;
    }
}
.dropdown {
    &:hover {
        .dropdown-menu {
            display: block;
        }
    }
}
